.btn {
  color: var(--fg-btn, var(--clr-neutral-100));
  border-radius: var(--br);
  padding: 0.8em 2em;
  width: 100%;
  display: block;
  font-weight: var(--fw-700);
  transition: all .4s ease;
  background: var(--bg-btn, var(--clr-primary-100));
  &:hover {
    background: var(--bg-btn, var(--clr-primary-200));
  }
}


.btn-dark {
  --bg-btn: var(--clr-blue-500);
  --fg-btn: var(--clr-neutral-100);
  border: 1px solid var(--fg-btn);
  &:hover {
    --bg-btn: var(--clr-neutral-100);
    --fg-btn: var(--clr-blue-500);
  }
}

.btn-light {
  --bg-btn: transparent;
  --fg-btn: var(--clr-blue-500);
  border: 1px solid var(--fg-btn);
  &:hover {
    --bg-btn: var(--clr-blue-500);
    --fg-btn: var(--clr-neutral-100);
  }
}

.btn-inline {
  display: inline-block;
  width: auto;
}