footer {
  text-align: center   ;
  .logo {
    margin: 0 auto;
    display: inline-block;
  }
  &.bg-circle {
   background-position: center top -35%;
   background-size: 900px;
    @include respond(tab-land) {background-position: 50vw 20% }
  }
}

.social {
  --gap: 3rem;
}

footer .nav {
    grid-template-columns: 1fr;
    align-items: center;
    @include respond(tab-land) {
      grid-template-columns: auto 1fr;
    }
}

footer .split-adapt {
  --gap: 4rem;
  justify-self: center;
}
