.input__group {
  display: grid;
  gap: 2rem;

  @include respond(tab-land) {
      display: grid;
      grid-template-columns: 1fr auto;
      justify-items: center;
      margin-left: 6rem;
      & > :last-child { transform: translateX(-6rem); }
  }

  @include respond(desktop) { margin-left: 0; }
}

input {
  background: var(--clr-neutral-100);
  border-radius: var(--br);
  padding: 0.75em 1.5em;
  width: 100%;
  box-shadow: var(--box-shadow-100);
}

::placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

.questions {
  margin-left: 1.5rem;
}

