//need to refactor to use a variable for the z index and then use the calc function to make it
//easier to know what value is the highest
.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4rem;
}

.nav,
.header {
  > * {z-index: 51;}
}

.circle_container {
  position: absolute;
  width: 100%;
  z-index: 48;
  transform: scale(1.1) translate(-30px, -20%);
  @include respond(tab-land) {
    transform: scale(1.1) translate(-40px, -20%);
  }
  @include respond(desktop) {
  transform: scale(0.6) translate(45%, 10%);
  }
  &.raised { z-index: 53; }
}


.menu-open-icon,
.menu-close-icon {
    display: block;
    margin-left: auto;
    cursor: pointer;
    @include respond(tab-land) {display: none; }
}

.menu {
    display: grid;
    gap: 4rem;
    align-items: center;
    --fg: var(--clr-neutral-200);
    @include respond(tab-land) {
       grid-auto-flow: column;
       justify-content: space-between;
    }
}


.menu__background {
  position: fixed;
  content: '';
  min-height: 100vh;
  top: 0;
 right: 0;
  width: 80vw;
  z-index: 52;
 background: var(--clr-blue-500);
}

.menu__background,
.menu--main {
  transition: transform .6s ease-in-out;
  transform: translateX(100vw);
    &.open {
    transform: translateX(0vw);
  }
}

.menu--main {
    position: fixed;
    padding: 5rem;
    min-height: 100vh;
    align-content: start;
    top: 0;
    right: 0;
    width: 80vw;
    z-index: 300;
    @include respond(tab-land) {
      position: static;
       padding: 0;
      background: none;
      min-height: auto;
      width: auto;
      --fg: inherit;
     transform: translateX(0vw);
   }
}


ul.menu__list {
  @include respond(tab-land) {
    li { display: inline; }
    li:not(:first-child) { margin-left: 4rem;}
  }
}

.menu--main .menu__list {
  padding-top: 2rem;
  border-top: 1px solid var(--clr-neutral-300);
  font-size: var(--fs-250);
  @include respond(tab-land) {
  padding: 0;
  border: none;
  }
}

footer .nav {
    grid-template-columns: 1fr;
    @include respond(tab-land) {
      grid-template-columns: auto 1fr;
    }
}

footer .split-adapt {
  --gap: 4rem;
  justify-self: center;
}
