.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4rem;
  position: relative;

  & > * {z-index: 1;}

  .circle__wrapper {
      position: absolute;
      display: block;
      z-index: 0;
      top: 0;
      left: 50%;
      width: 140rem;
      transform: translate(-50%, -80%);
      @include respond(tab-land) {transform: translate(-50%, -70%);}
      @include respond(desktop) {
      transform: translate(15%, -30%);
      width: 80rem;
      }
  }
}

.menu-open-icon,
.menu-close-icon {
    display: block;
    margin-left: auto;
    cursor: pointer;
    @include respond(tab-land) {display: none; }
}

.menu {
    display: grid;
    gap: 4rem;
    align-items: center;
    --fg: var(--clr-neutral-200);
    @include respond(tab-land) {
       grid-auto-flow: column;
       justify-content: space-between;
    }
}

.menu--main {
  transition: transform .6s ease-in-out;
  transform: translateX(100vw);
    &.open {
    transform: translateX(0vw);
  }
}

.menu--main {
  background-color: var(--clr-blue-500);
  background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: right -30px  top -460px;
  position: fixed;
  padding: 5rem;
  min-height: 100vh;
  align-content: start;
  top: 0;
  right: 0;
  width: 80vw;
  z-index: 300;
  @include respond(tab-land) {
    position: static;
    padding: 0;
    background: none;
    min-height: auto;
    width: auto;
    --fg: inherit;
    transform: translateX(0vw);
  }
}


ul.menu__list {
  @include respond(tab-land) {
    li { display: inline; }
    li:not(:first-child) { margin-left: 4rem;}
  }
}

.menu--main .menu__list {
  text-align: center;
  padding-top: 4rem;
  border-top: 1px solid alpha(var(--clr-blue-300), 0.5);
  font-size: var(--fs-250);
  @include respond(tab-land) {
  padding: 0;
  border: none;
  }
}


