.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4rem;
}

.nav,
.header {
  > * {z-index: 1;}
}

.circle_container {
  position: absolute;
  width: 1600px;
  z-index: 0;
  left: 50%;
  transform: translate(-50%, -35%);
  &.raised { z-index: 3; }
  @include respond(desktop) {
  width: 800px;
  transform: translate(10%, 10%);
  }
}

.menu-open-icon,
.menu-close-icon {
    display: block;
    margin-left: auto;
    cursor: pointer;
    @include respond(tab-land) {display: none; }
}

.menu {
    display: grid;
    gap: 4rem;
    align-items: center;
    --fg: var(--clr-neutral-200);
    @include respond(tab-land) {
       grid-auto-flow: column;
       justify-content: space-between;
    }
}

.menu--main {
  transition: transform .6s ease-in-out;
  transform: translateX(100vw);
    &.open {
    transform: translateX(0vw);
  }
}

.menu--main {
  background: var(--clr-blue-500);
  position: fixed;
  padding: 5rem;
  min-height: 100vh;
  align-content: start;
  top: 0;
  right: 0;
  width: 80vw;
  z-index: 300;
  @include respond(tab-land) {
    position: static;
      padding: 0;
    background: none;
    min-height: auto;
    width: auto;
    --fg: inherit;
    transform: translateX(0vw);
  }
}


ul.menu__list {
  @include respond(tab-land) {
    li { display: inline; }
    li:not(:first-child) { margin-left: 4rem;}
  }
}

.menu--main .menu__list {
  text-align: center;
  padding-top: 4rem;
  border-top: 1px solid alpha(var(--clr-blue-300), 0.5);
  font-size: var(--fs-250);
  @include respond(tab-land) {
  padding: 0;
  border: none;
  }
}



footer .nav {
    grid-template-columns: 1fr;
    align-items: center;
    @include respond(tab-land) {
      grid-template-columns: auto 1fr;
    }
}

footer .split-adapt {
  --gap: 4rem;
  justify-self: center;
}
