.circle__wrapper--inner {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  right: 0;
  width: 80rem;
  transform: translate(60%, -85%);
  @include respond(tab-land) {transform: translate(50%, -70%)};
  @include respond(desktop) {transform: translate(20%, -60%);}

}