
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: var(--ff-secondary);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
 overflow: hidden;
 position: relative;
}

.container > * {
  background-color: var(--bg, var(--clr-blue-100));
  color: var(--fg, var(--clr-blue-200));
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  line-height: var(--lh-800);
  text-align: center;
  padding: 4rem 2rem;
  @include respond(tab-land) {padding: 4rem; }
  @include respond(desktop) {padding: 6rem 14rem; }
}

.container > :first-child {
  padding-bottom: 0rem;
  padding-top: 4rem;
}

.container > :last-child {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

