/*
0 - 600px:      Phone is where normal styles apply
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800 is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --clr-neutral-100: hsl(220, 60%, 99%);
  --clr-neutral-100-h: 220;
  --clr-neutral-100-s: 60%;
  --clr-neutral-100-l: 99%;
  --clr-neutral-200: hsl(207, 58%, 99%);
  --clr-neutral-200-h: 207;
  --clr-neutral-200-s: 58%;
  --clr-neutral-200-l: 99%;
  --clr-neutral-250: hsl(0, 0%, 59%);
  --clr-neutral-250-h: 0;
  --clr-neutral-250-s: 0%;
  --clr-neutral-250-l: 59%;
  --clr-neutral-300: alpha(var(--clr-neutral-250), 0.15);
  --clr-primary-100: hsl(337, 48%, 49%);
  --clr-primary-100-h: 337;
  --clr-primary-100-s: 48%;
  --clr-primary-100-l: 49%;
  --clr-primary-200: hsl(337, 60%, 64%);
  --clr-primary-200-h: 337;
  --clr-primary-200-s: 60%;
  --clr-primary-200-l: 64%;
  --clr-blue-100: hsl(209, 46%, 95%);
  --clr-blue-100-h: 209;
  --clr-blue-100-s: 46%;
  --clr-blue-100-l: 95%;
  --clr-blue-200: hsl(207, 16%, 50%);
  --clr-blue-200-h: 207;
  --clr-blue-200-s: 16%;
  --clr-blue-200-l: 50%;
  --clr-blue-300: hsl(207, 33%, 32%);
  --clr-blue-300-h: 207;
  --clr-blue-300-s: 33%;
  --clr-blue-300-l: 32%;
  --clr-blue-500: hsl(207, 27%, 15%);
  --clr-blue-500-h: 207;
  --clr-blue-500-s: 27%;
  --clr-blue-500-l: 15%;
  --opacity-500: 0.5;
  --box-shadow-100: 2.5rem 2.5rem 8rem hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.3);
  --br: 3rem;
  --spacer: 1.6rem;
  --ff-primary: 'Public Sans', sans-serif;
  --ff-secondary: 'DM Serif Display', serif;
  --fs-100: 1.1rem;
  --fs-200: 1.5rem;
  --fs-250: 2rem;
  --fs-300: 2.4rem;
  --fs-400: 2.4rem;
  --fs-500: 3.2rem;
  --fs-600: 3.6rem;
  --fs-700: 3.2rem;
  --fs-800: 3.2rem;
  --fw-100: 100;
  --fw-200: 200;
  --fw-700: 700;
  --lh-000: 1.0;
  --lh-100: 1.125;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;
  --lh-600: 1.6;
  --lh-700: 1.7;
  --lh-800: 1.8;
}

@media only screen and (min-width: 48.1em) {
  :root {
    --fs-500: 4.8rem;
    --fs-600: 4.8rem;
    --fs-700: 4.8rem;
    --fs-800: 4.8rem;
    --fs-250: 1.8rem;
  }
}

@media only screen and (min-width: 75em) {
  :root {
    --fs-400: 3.2rem;
    --fs-700: 5.6rem;
    --fs-800: 7.2rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: var(--ff-secondary);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
}

.container > * {
  background-color: var(--bg, var(--clr-blue-100));
  color: var(--fg, var(--clr-blue-200));
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  line-height: var(--lh-800);
  padding: 4rem 2rem;
}

@media only screen and (min-width: 48.1em) {
  .container > * {
    padding: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  .container > * {
    padding: 8rem 14rem;
  }
}

.container > :first-child {
  padding-bottom: 0rem;
  padding-top: 4rem;
}

.container > :last-child {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: var(--fg, var(--clr-blue-300));
  line-height: var(--lh-100);
  font-family: var(--ff-secondary);
}

h1, .h1 {
  font-size: var(--fs-800);
  font-weight: 100;
}

h1.sm, .h1.sm {
  font-size: var(--fs-700);
}

h2, .h2 {
  font-size: var(--fs-600);
}

h2.sm, .h2.sm {
  font-size: var(--fs-500);
}

h3, .h3 {
  font-size: var(--fs-400);
}

h4, .h4 {
  font-size: var(--fs-300);
  opacity: 0.75;
  line-height: 1.4;
}

a {
  font-weight: var(--fw-700);
}

p,
a {
  color: var(--fg, var(--clr-blue-200));
  font-size: var(--fs, inherit);
}

.benefit__title {
  font-size: 1.8rem;
  font-weight: var(--fw-700);
  color: var(--clr-blue-300);
}

.flow-content > * + * {
  margin-top: calc(2 * var(--spacer));
}

.flow-content-small > * + * {
  margin-top: var(--spacer);
}

.flow-content-xsmall > * + * {
  margin-top: calc( 0.5 * var(--spacer));
}

.flow-content-large > * + * {
  margin-top: calc(3 * var(--spacer));
}

.flow-content-xlarge > * + * {
  margin-top: calc(4 * var(--spacer));
}

.split-auto {
  display: grid;
  row-gap: var(--row-gap, 2rem);
  column-gap: var(--column-gap, 2rem);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.split-adapt {
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-flow: column;
}

.split {
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

@media only screen and (min-width: 48.1em) {
  .split {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
}

.space-bt {
  justify-content: space-between;
}

.justify-ic {
  justify-items: center;
}

.justify-cc {
  justify-content: center;
}

.align-ic {
  align-items: center;
}

.bg-dark {
  --bg: var(--clr-blue-500);
  --fg: var(--clr-neutral-200);
}

.text-center {
  text-align: center;
}

.drop-shadow {
  filter: drop-shadow(var(--box-shadow-100));
}

.white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(25deg) brightness(99%) contrast(108%);
}

.pink {
  filter: brightness(0.5) sepia(1) hue-rotate(-70deg) saturate(5);
}

.navy {
  filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
}

.blue {
  filter: brightness(0.5) sepia(1) hue-rotate(140deg) saturate(6);
}

.bg-circle {
  background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fg-primary {
  --fg: var(--clr-primary-100);
}

.light {
  font-weight: var(--fw-100);
}

.fg-primary {
  --fg: var(--clr-primary-100);
}

.btn {
  color: var(--fg-btn, var(--clr-neutral-100));
  border-radius: var(--br);
  padding: 0.8em 2em;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: var(--fw-700);
  transition: all .4s ease;
  background: var(--bg-btn, var(--clr-primary-100));
}

.btn:hover {
  background: var(--bg-btn, var(--clr-primary-200));
}

.btn-dark {
  --bg-btn: var(--clr-blue-500);
  --fg-btn: var(--clr-neutral-100);
  border: 1px solid var(--fg-btn);
}

.btn-dark:hover {
  --bg-btn: var(--clr-neutral-100);
  --fg-btn: var(--clr-blue-500);
}

.btn-light {
  --bg-btn: transparent;
  --fg-btn: var(--clr-blue-500);
  border: 1px solid var(--fg-btn);
}

.btn-light:hover {
  --bg-btn: var(--clr-blue-500);
  --fg-btn: var(--clr-neutral-100);
}

.btn-inline {
  display: inline-block;
  width: auto;
}

.demo {
  display: grid;
  grid-template-columns: minmax(auto, 44.5rem);
  justify-content: center;
}

@media only screen and (min-width: 75em) {
  .demo {
    justify-content: start;
  }
}

.demo input {
  background: var(--clr-neutral-100);
  border-radius: var(--br);
  padding: 0.75em 1.5em;
  width: 100%;
  box-shadow: var(--box-shadow-100);
}

.demo ::placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

.demo .questions {
  margin-left: 1.5rem;
}

.demo .input__group {
  display: grid;
  row-gap: 2rem;
}

@media only screen and (min-width: 48.1em) {
  .demo .input__group {
    grid-template-columns: 2.1fr 1.5fr;
  }
  .demo .input__group > :first-child {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .demo .input__group > :last-child {
    grid-column: 2 / 3;
    grid-row: 1;
    z-index: 1;
  }
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 4rem;
  position: relative;
}

.nav > * {
  z-index: 1;
}

.nav .circle__wrapper {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  left: 50%;
  width: 140rem;
  transform: translate(-50%, -80%);
}

@media only screen and (min-width: 48.1em) {
  .nav .circle__wrapper {
    transform: translate(-50%, -70%);
  }
}

@media only screen and (min-width: 75em) {
  .nav .circle__wrapper {
    transform: translate(15%, -30%);
    width: 80rem;
  }
}

.menu-open-icon,
.menu-close-icon {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (min-width: 48.1em) {
  .menu-open-icon,
  .menu-close-icon {
    display: none;
  }
}

.menu {
  display: grid;
  gap: 4rem;
  align-items: center;
  --fg: var(--clr-neutral-200);
}

@media only screen and (min-width: 48.1em) {
  .menu {
    grid-auto-flow: column;
    justify-content: space-between;
  }
}

.menu--main {
  transition: transform .6s ease-in-out;
  transform: translateX(100vw);
}

.menu--main.open {
  transform: translateX(0vw);
}

.menu--main {
  background-color: var(--clr-blue-500);
  background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: right -30px  top -460px;
  position: fixed;
  padding: 5rem;
  min-height: 100vh;
  align-content: start;
  top: 0;
  right: 0;
  width: 80vw;
}

@media only screen and (min-width: 48.1em) {
  .menu--main {
    position: static;
    padding: 0;
    background: none;
    min-height: auto;
    width: auto;
    --fg: inherit;
    transform: translateX(0vw);
  }
}

@media only screen and (min-width: 48.1em) {
  ul.menu__list li {
    display: inline;
  }
  ul.menu__list li:not(:first-child) {
    margin-left: 4rem;
  }
}

.menu--main .menu__list {
  text-align: center;
  padding-top: 4rem;
  border-top: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.5);
  font-size: var(--fs-250);
}

@media only screen and (min-width: 48.1em) {
  .menu--main .menu__list {
    padding: 0;
    border: none;
  }
}

.cta {
  gap: 4rem;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 75em) {
  .cta {
    grid-template-columns: repeat(2, auto);
  }
}

footer {
  text-align: center;
  position: relative;
  overflow: hidden;
}

footer .logo {
  margin: 0 auto;
  display: inline-block;
}

footer .nav {
  grid-template-columns: 1fr;
  align-items: center;
}

@media only screen and (min-width: 48.1em) {
  footer .nav {
    grid-template-columns: auto 1fr;
  }
}

footer .circle__wrapper {
  position: absolute;
  display: block;
  z-index: 0;
  top: -50%;
  right: 50%;
  width: 80rem;
  height: 80rem;
  transform: translate(50%, 45%);
}

@media only screen and (min-width: 48.1em) {
  footer .circle__wrapper {
    transform: translate(30%, -10%);
    top: 0;
    right: 0;
  }
}

.social {
  --gap: 3rem;
  justify-self: center;
}

.logos {
  align-self: center;
  grid-row: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 3rem;
  column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 48.1em) {
  .logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 75em) {
  .logos {
    grid-row: auto;
    justify-items: start;
  }
}

.circle__wrapper--inner {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  right: 0;
  width: 80rem;
  transform: translate(60%, -85%);
}

@media only screen and (min-width: 48.1em) {
  .circle__wrapper--inner {
    transform: translate(50%, -70%);
  }
}

@media only screen and (min-width: 75em) {
  .circle__wrapper--inner {
    transform: translate(20%, -60%);
  }
}

.hero {
  display: grid;
  row-gap: 4rem;
  grid-template-columns: minmax(auto, 55rem);
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.hero__img {
  grid-row: 1;
  width: 50%;
}

@media only screen and (min-width: 75em) {
  .hero {
    grid-template-columns: minmax(40rem, 55rem) minmax(20rem, auto);
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }
  .hero__img {
    grid-row: auto;
    width: auto;
  }
}

.work {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  gap: 6rem;
}

@media only screen and (min-width: 75em) {
  .work {
    grid-template-columns: minmax(auto, 45rem) 1fr;
    text-align: left;
    justify-content: space-between;
  }
}

.work > * {
  z-index: 0;
}

.work .circle__wrapper {
  position: absolute;
  display: block;
  top: -25%;
  left: 50%;
  width: 80rem;
  height: 80rem;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 75em) {
  .work .circle__wrapper {
    transform: translate(-50%, -50%);
    top: 0%;
    left: 0%;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  column-gap: 5rem;
  row-gap: 5rem;
  align-items: center;
  text-align: center;
  position: relative;
}

.features .circle__wrapper {
  display: none;
}

@media only screen and (min-width: 75em) {
  .features .circle__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 80rem;
    height: 80rem;
    display: block;
    transform: translate(60%, 30%);
  }
}

.features > :last-child {
  grid-column: auto;
  grid-row: auto;
}

@media only screen and (min-width: 75em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .features > :last-child {
    grid-column: 1;
    grid-row: 2;
  }
}

.benefits {
  --gap: 4rem;
  text-align: center;
}

.benefits img {
  display: inline-block;
}

.price_info {
  text-align: center;
}

@media only screen and (min-width: 75em) {
  .price_info {
    text-align: left;
  }
}

.pricing__cards {
  --min: 160px;
}

.pricing__card {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 48.1em) {
  .pricing__card {
    margin-bottom: 0rem;
  }
}

ul.pricing__card-list {
  margin: 2rem 0;
  padding: 2rem 0;
  color: var(--clr-blue-300);
  font-size: 1.6rem;
  border-top: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
  border-bottom: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
  display: grid;
  grid-template-columns: auto;
  justify-items: start;
  justify-content: center;
}

@media only screen and (min-width: 75em) {
  ul.pricing__card-list {
    justify-content: start;
  }
}

ul.pricing__card-list li:not(.light)::before {
  content: '';
  display: inline-block;
  background-image: url(../../assets/shared/desktop/icon-check.svg);
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2rem;
}

ul.pricing__card-list li.light {
  margin-left: 3.5rem;
}

.contact {
  text-align: center;
}

.contact .section__title {
  max-width: 20ch;
  margin: 0 auto;
}

@media only screen and (min-width: 75em) {
  .contact {
    text-align: left;
  }
  .contact .section__title {
    margin: initial;
    width: 25ch;
  }
}

.contact__content {
  display: grid;
}

@media only screen and (min-width: 75em) {
  .contact__content {
    grid-template-columns: 50rem 1fr;
    gap: 10rem;
  }
}

.contact__form {
  max-width: 44.5rem;
  justify-self: center;
  text-align: left;
}

.contact__form input,
.contact__form textarea {
  display: block;
  width: 100%;
  border-bottom: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.5);
  padding: 2rem;
}

.contact__form textarea {
  outline: none;
}

.contact__form ::placeholder {
  font-size: inherit;
  color: var(--clr-blue-300);
}

@media only screen and (min-width: 75em) {
  .contact__form {
    justify-self: initial;
  }
}

.checkbox__group {
  --gap: 4rem;
  justify-items: start;
}

.checkbox__group label {
  max-width: 40ch;
}

input.plain-check-box {
  display: inline-block;
  align-self: center;
  background-color: hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
  border-radius: .2rem;
  appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  cursor: pointer;
  position: relative;
}

input.plain-check-box:checked {
  background-color: var(--clr-primary-100);
}

input.plain-check-box:checked::before {
  content: '';
  background-color: white;
  mask: url(../../assets/shared/desktop/icon-check.svg);
  width: 2.4rem;
  height: 2.4rem;
  top: 6px;
  left: 6px;
  position: absolute;
}

.joinus__title {
  max-width: 40ch;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 75em) {
  .joinus__title {
    margin-left: initial;
  }
}

.about {
  text-align: center;
}

.about .info__title {
  max-width: 22ch;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (min-width: 48.1em) {
  .about {
    text-align: left;
  }
}

@media only screen and (min-width: 75em) {
  .about .info__title {
    text-align: left;
    margin: 0 auto 0 0;
  }
}

@media only screen and (min-width: 75em) {
  .section__wrapper {
    margin: 0 auto;
    max-width: 80%;
  }
}

.info__content {
  display: grid;
  gap: 3rem;
}

.info__content > :nth-child(2) {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 48.1em) {
  .info__content {
    grid-template-columns: 1fr 3fr;
  }
}

.focus {
  padding: 0;
  position: relative;
}

.focus__img {
  position: relative;
}

.focus .circle_wrapper {
  display: none;
}

@media only screen and (min-width: 75em) {
  .focus .circle_wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    width: 80rem;
    height: 80rem;
    transform: translate(-50%, -50%);
    display: block;
  }
}

.stats {
  text-align: center;
}

.stats__card {
  padding: 2rem;
}

.stats__card:first-child {
  border-top: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
}

.stats__card:last-child {
  border-bottom: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
}

@media only screen and (min-width: 48.1em) {
  .stats__card {
    border-top: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
    border-bottom: 1px solid hsla(var(--clr-blue-300-h), var(--clr-blue-300-s), var(--clr-blue-300-l), 0.25);
  }
}
