/*
0 - 600px:      Phone is where normal styles apply
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800 is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --opacity-500: 0.5;
  --clr-neutral-100: hsl(220, 60%, 99%);
  --clr-neutral-200: hsl(207, 58%, 99%);
  --clr-neutral-300: hsla(0, 0%, 59%, 0.15);
  --clr-primary-100: hsl(337, 48%, 49%);
  --clr-primary-200: hsl(337, 60%, 64%);
  --clr-blue-100: hsl(209, 46%, 95%);
  --clr-blue-200: hsl(207, 16%, 50%);
  --clr-blue-300: hsl(207, 33%, 32%);
  --clr-blue-500: hsl(207,27%,15%);
  --box-shadow-100: 2.5rem 2.5rem 8rem hsla(207, 33%, 32%, 30%);
  --br: 3rem;
  --spacer: 1.6rem;
  --ff-primary: 'Public Sans', sans-serif;
  --ff-secondary: 'DM Serif Display', serif;
  --fs-100: 1.1rem;
  --fs-200: 1.5rem;
  --fs-250: 2rem;
  --fs-300: 2.4rem;
  --fs-400: 2.4rem;
  --fs-500: 3.2rem;
  --fs-600: 3.6rem;
  --fs-700: 3.2rem;
  --fs-800: 3.2rem;
  --fw-100: 100;
  --fw-200: 200;
  --fw-700: 700;
  --lh-000: 1.0;
  --lh-100: 1.125;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;
  --lh-600: 1.6;
  --lh-700: 1.7;
  --lh-800: 1.8;
}

@media only screen and (min-width: 48.1em) {
  :root {
    --fs-500: 4.8rem;
    --fs-600: 4.8rem;
    --fs-700: 4.8rem;
    --fs-800: 4.8rem;
    --fs-250: 1.5rem;
  }
}

@media only screen and (min-width: 75em) {
  :root {
    --fs-400: 3.2rem;
    --fs-700: 5.6rem;
    --fs-800: 7.2rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  font-family: var(--ff-secondary);
}

body,
h1,
h2,
h3,
p,
dl,
dd,
figure {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}

input:focus {
  outline: 0;
}

a {
  color: inherit;
  font-family: inherit;
  display: inline-block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
}

.container > * {
  background-color: var(--bg, var(--clr-blue-100));
  color: var(--fg, var(--clr-blue-200));
  font-family: var(--ff-primary);
  font-size: var(--fs-200);
  line-height: var(--lh-800);
  text-align: center;
  padding: 4rem 2rem;
}

@media only screen and (min-width: 48.1em) {
  .container > * {
    padding: 4rem;
  }
}

@media only screen and (min-width: 75em) {
  .container > * {
    padding: 6rem 14rem;
  }
}

.container > :first-child {
  padding-bottom: 0rem;
  padding-top: 4rem;
}

.container > :last-child {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  color: var(--fg, var(--clr-blue-300));
  line-height: var(--lh-000);
}

h1, .h1 {
  font-size: var(--fs-800);
  font-weight: 100;
}

h1.sm, .h1.sm {
  font-size: var(--fs-700);
}

h2, .h2 {
  font-size: var(--fs-600);
}

h2.sm, .h2.sm {
  font-size: var(--fs-500);
}

h3, .h3 {
  font-size: var(--fs-400);
}

h4, .h4 {
  font-size: var(--fs-300);
}

a {
  font-weight: var(--fw-700);
}

p,
a {
  color: var(--fg, var(--clr-blue-200));
  font-size: var(--fs, inherit);
}

.benefit__title {
  font-size: var(--fs-250);
  font-weight: var(--fw-700);
  color: var(--clr-blue-300);
}

.flow-content > * + * {
  margin-top: calc(2 * var(--spacer));
}

.flow-content-small > * + * {
  margin-top: var(--spacer);
}

.flow-content-xsmall > * + * {
  margin-top: calc( 0.5 * var(--spacer));
}

.flow-content-large > * + * {
  margin-top: calc(3 * var(--spacer));
}

.split-auto {
  display: -ms-grid;
  display: grid;
  row-gap: var(--row-gap, 2rem);
  -webkit-column-gap: var(--column-gap, 2rem);
          column-gap: var(--column-gap, 2rem);
  -ms-grid-columns: (minmax(var(--min), 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

.split-adapt {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-flow: column;
}

.split {
  display: -ms-grid;
  display: grid;
  gap: var(--gap, 1rem);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

@media only screen and (min-width: 48.1em) {
  .split {
    grid-auto-flow: column;
    grid-auto-columns: auto;
  }
}

.space-bt {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-ic {
  justify-items: center;
}

.justify-cc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-ic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-dark {
  --bg: var(--clr-blue-500);
  --fg: var(--clr-neutral-200);
}

.text-center {
  text-align: center;
}

.drop-shadow {
  -webkit-filter: drop-shadow(var(--box-shadow-100));
          filter: drop-shadow(var(--box-shadow-100));
}

.white {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(25deg) brightness(99%) contrast(108%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7483%) hue-rotate(25deg) brightness(99%) contrast(108%);
}

.bg-circle {
  background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fg-primary {
  --fg: var(--clr-primary-100);
}

.light {
  font-weight: var(--fw-100);
}

.btn {
  color: var(--fg-btn, var(--clr-neutral-100));
  border-radius: var(--br);
  padding: 0.8em 2em;
  width: 100%;
  display: block;
  font-weight: var(--fw-700);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  background: var(--bg-btn, var(--clr-primary-100));
}

.btn:hover {
  background: var(--bg-btn, var(--clr-primary-200));
}

.btn-dark {
  --bg-btn: var(--clr-blue-500);
  --fg-btn: var(--clr-neutral-100);
  border: 1px solid var(--fg-btn);
}

.btn-dark:hover {
  --bg-btn: var(--clr-neutral-100);
  --fg-btn: var(--clr-blue-500);
}

.btn-light {
  --bg-btn: transparent;
  --fg-btn: var(--clr-blue-500);
  border: 1px solid var(--fg-btn);
}

.btn-light:hover {
  --bg-btn: var(--clr-blue-500);
  --fg-btn: var(--clr-neutral-100);
}

.btn-inline {
  display: inline-block;
  width: auto;
}

form.demo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 44.5rem);
      grid-template-columns: minmax(auto, 44.5rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 75em) {
  form.demo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.input__group {
  display: -ms-grid;
  display: grid;
  row-gap: 2rem;
}

@media only screen and (min-width: 48.1em) {
  .input__group {
    -ms-grid-columns: 2.1fr 1.5fr;
        grid-template-columns: 2.1fr 1.5fr;
  }
  .input__group > :first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .input__group > :last-child {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    grid-row: 1;
    z-index: 1;
  }
}

input {
  background: var(--clr-neutral-100);
  border-radius: var(--br);
  padding: 0.75em 1.5em;
  width: 100%;
  -webkit-box-shadow: var(--box-shadow-100);
          box-shadow: var(--box-shadow-100);
}

::-webkit-input-placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

:-ms-input-placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

::-ms-input-placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

::placeholder {
  color: var(--clr-blue-300);
  font-weight: var(--fw-700);
  font-family: var(--ff-primary);
}

.questions {
  margin-left: 1.5rem;
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
}

.nav > *,
.header > * {
  z-index: 1;
}

.circle_container {
  position: absolute;
  width: 1600px;
  z-index: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
}

.circle_container.raised {
  z-index: 3;
}

@media only screen and (min-width: 75em) {
  .circle_container {
    width: 800px;
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
}

.menu-open-icon,
.menu-close-icon {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (min-width: 48.1em) {
  .menu-open-icon,
  .menu-close-icon {
    display: none;
  }
}

.menu {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  --fg: var(--clr-neutral-200);
}

@media only screen and (min-width: 48.1em) {
  .menu {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu__background {
  position: fixed;
  content: '';
  min-height: 100vh;
  top: 0;
  right: 0;
  width: 80vw;
  z-index: 2;
  background: var(--clr-blue-500);
}

.menu__background,
.menu--main {
  -webkit-transition: -webkit-transform .6s ease-in-out;
  transition: -webkit-transform .6s ease-in-out;
  transition: transform .6s ease-in-out;
  transition: transform .6s ease-in-out, -webkit-transform .6s ease-in-out;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.menu__background.open,
.menu--main.open {
  -webkit-transform: translateX(0vw);
          transform: translateX(0vw);
}

.menu--main {
  position: fixed;
  padding: 5rem;
  min-height: 100vh;
  -ms-flex-line-pack: start;
      align-content: start;
  top: 0;
  right: 0;
  width: 80vw;
  z-index: 300;
}

@media only screen and (min-width: 48.1em) {
  .menu--main {
    position: static;
    padding: 0;
    background: none;
    min-height: auto;
    width: auto;
    --fg: inherit;
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@media only screen and (min-width: 48.1em) {
  ul.menu__list li {
    display: inline;
  }
  ul.menu__list li:not(:first-child) {
    margin-left: 4rem;
  }
}

.menu--main .menu__list {
  padding-top: 2rem;
  border-top: 1px solid var(--clr-neutral-300);
  font-size: var(--fs-250);
}

@media only screen and (min-width: 48.1em) {
  .menu--main .menu__list {
    padding: 0;
    border: none;
  }
}

footer .nav {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 48.1em) {
  footer .nav {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

footer .split-adapt {
  --gap: 4rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer {
  background: var(--bg);
}

footer .logo {
  margin: 0 auto;
  display: inline-block;
}

.social {
  --gap: 3rem;
}

.hero {
  display: -ms-grid;
  display: grid;
  row-gap: 4rem;
  -ms-grid-columns: minmax(auto, 55rem);
      grid-template-columns: minmax(auto, 55rem);
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hero__img {
  -ms-grid-row: 1;
  grid-row: 1;
  width: 50%;
}

@media only screen and (min-width: 75em) {
  .hero {
    -ms-grid-columns: minmax(40rem, 55rem) minmax(20rem, auto);
        grid-template-columns: minmax(40rem, 55rem) minmax(20rem, auto);
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__img {
    grid-row: auto;
    width: auto;
  }
}

.work {
  background-position: left 50% top -400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  row-gap: 6rem;
}

@media only screen and (min-width: 48.1em) {
  .work {
    background-position: left 50% bottom -40%;
  }
}

@media only screen and (min-width: 75em) {
  .work {
    background-size: 70%;
    background-position: -90% 105%;
  }
}

@media only screen and (min-width: 75em) {
  .work {
    -ms-grid-columns: minmax(auto, 45rem) minmax(20rem, 55rem);
        grid-template-columns: minmax(auto, 45rem) minmax(20rem, 55rem);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    text-align: left;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logos {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media only screen and (min-width: 48.1em) {
  .logos {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 75em) {
  .logos {
    grid-row: auto;
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .circle_container {
  display: none;
}

@media only screen and (min-width: 75em) {
  .features .circle_container {
    display: block;
    -webkit-transform: translate(50%, 10%);
            transform: translate(50%, 10%);
  }
}

.features > :last-child {
  grid-column: auto;
  grid-row: auto;
}

@media only screen and (min-width: 75em) {
  .features {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .features > :last-child {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.benefits {
  --gap: 4rem;
}

.benefits img {
  display: inline-block;
}

.cta {
  gap: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 75em) {
  .cta {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
}

footer.bg-circle {
  background-position: center top -35%;
  background-size: 900px;
}

@media only screen and (min-width: 48.1em) {
  footer.bg-circle {
    background-position: 50vw 20%;
    background-size: 70%;
  }
}

.pricing .circle_container {
  -webkit-transform: translate(10%, -33%);
          transform: translate(10%, -33%);
}

.price_info {
  text-align: center;
}

@media only screen and (min-width: 75em) {
  .price_info {
    text-align: left;
  }
}

.pricing__cards {
  --min: 160px;
}

.pricing__card {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 48.1em) {
  .pricing__card {
    margin-bottom: 0rem;
  }
}

ul.pricing__card-list {
  margin: 2rem 0;
  padding: 2rem 0;
  color: var(--clr-blue-300);
  font-size: 1.6rem;
  border-top: 1px solid var(--clr-neutral-300);
  border-bottom: 1px solid var(--clr-neutral-300);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  justify-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 75em) {
  ul.pricing__card-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

ul.pricing__card-list li:not(.light)::before {
  content: '';
  display: inline-block;
  background-image: url(../../assets/shared/desktop/icon-check.svg);
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2rem;
}

ul.pricing__card-list li.light {
  margin-left: 3.5rem;
}
